# Plot the data
plt.figure(figsize=(34, 7))
plt.plot(actual_consumption.index, actual_consumption["Total (grid load) [MWh]"], label="Total (grid load) [MWh]", color="blue")

# Set plot labels and title
plt.xlabel("Date")
plt.ylabel("Consumption (MWh)")
plt.title("Actual Consumption Over Time")
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability

# Show plot
plt.show()

plt.figure(figsize=(34, 7))
plt.plot(actual_consumption.index, actual_consumption["Residual load [MWh]"], label="Residual load [MWh]", color="green")

# Set plot labels and title
plt.xlabel("Date")
plt.ylabel("Consumption (MWh)")
plt.title("Actual Consumption Over Time")
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability

# Show plot
plt.show()

plt.figure(figsize=(34, 7))
plt.plot(actual_consumption.index, actual_consumption["Hydro pumped storage [MWh]"], label="Hydro pumped storage [MWh]", color="purple")

# Set plot labels and title
plt.xlabel("Date")
plt.ylabel("Consumption (MWh)")
plt.title("Actual Consumption Over Time")
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)  # Rotate x-axis labels for better readability

# Show plot
plt.show()

In [1]:
# Import necessary libraries
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [4]:
# Define a custom date parser function for the specific date format
date_parser = lambda x: pd.to_datetime(x, format="%d-%m-%y %H:%M")

# Load the datasets with the specified date format
actual_generation = pd.read_excel(
    "Data/Market/actual_generation_hour.xlsx", 
    parse_dates=["Start date"], 
    date_format="%d-%m-%y %H:%M"
)

# Set 'Start date' as the index and remove 'End date' column
actual_generation.set_index("Start date", inplace=True)
actual_generation.drop(columns=["End date"], inplace=True)

In [5]:
# Display the first few rows of each dataframe to verify the changes
actual_generation.head()

Actual Generation Data:

,Biomass [MWh],Hydropower [MWh],Wind offshore [MWh],Wind onshore [MWh],Photovoltaics [MWh],Other renewable [MWh],Nuclear [MWh],Lignite [MWh],Hard coal [MWh],Fossil gas [MWh],Hydro pumped storage [MWh],Other conventional [MWh]
Start date,,,,,,,,,,,,
"Jan 1, 2023 12:00 AM",4365,1275.25,3059.25,28710.50,1.25,129.5,2459.5,3859.25,2067.5,1721.75,42.75,1228.75
"Jan 1, 2023 1:00 AM",4344.75,1226.5,3586.00,29305.00,1.00,129,2458.75,3866.5,2052,1568,126.75,1218.25
"Jan 1, 2023 2:00 AM",4333,1222.5,3842.25,29266.00,1.25,129,2459.75,3860.25,2034.25,1571.5,85.5,1211.5
"Jan 1, 2023 3:00 AM",4338.75,1223.25,3463.25,27008.50,1.00,129,2460.5,3864.75,2037,1564.75,84,1211.75
"Jan 1, 2023 4:00 AM",4353.25,1244,3462.25,26438.75,1.50,128.25,2461,3841,2040.25,1550.5,84,1214.25

In [6]:
actual_generation.dtypes

Biomass [MWh]                  object
Hydropower [MWh]               object
Wind offshore [MWh]           float64
Wind onshore [MWh]            float64
Photovoltaics [MWh]           float64
Other renewable [MWh]          object
Nuclear [MWh]                  object
Lignite [MWh]                  object
Hard coal [MWh]                object
Fossil gas [MWh]               object
Hydro pumped storage [MWh]     object
Other conventional [MWh]       object
dtype: object

In [8]:
# Convert all columns to float64
for col in actual_generation.columns:
    actual_generation[col] = pd.to_numeric(actual_generation[col], errors='coerce')

In [9]:
actual_generation.dtypes

Biomass [MWh]                 float64
Hydropower [MWh]              float64
Wind offshore [MWh]           float64
Wind onshore [MWh]            float64
Photovoltaics [MWh]           float64
Other renewable [MWh]         float64
Nuclear [MWh]                 float64
Lignite [MWh]                 float64
Hard coal [MWh]               float64
Fossil gas [MWh]              float64
Hydro pumped storage [MWh]    float64
Other conventional [MWh]      float64
dtype: object

In [10]:
actual_generation

,Biomass [MWh],Hydropower [MWh],Wind offshore [MWh],Wind onshore [MWh],Photovoltaics [MWh],Other renewable [MWh],Nuclear [MWh],Lignite [MWh],Hard coal [MWh],Fossil gas [MWh],Hydro pumped storage [MWh],Other conventional [MWh]
Start date,,,,,,,,,,,,
"Jan 1, 2023 12:00 AM",4365.00,1275.25,3059.25,28710.50,1.25,129.50,2459.50,3859.25,2067.50,1721.75,42.75,1228.75
"Jan 1, 2023 1:00 AM",4344.75,1226.50,3586.00,29305.00,1.00,129.00,2458.75,3866.50,2052.00,1568.00,126.75,1218.25
"Jan 1, 2023 2:00 AM",4333.00,1222.50,3842.25,29266.00,1.25,129.00,2459.75,3860.25,2034.25,1571.50,85.50,1211.50
"Jan 1, 2023 3:00 AM",4338.75,1223.25,3463.25,27008.50,1.00,129.00,2460.50,3864.75,2037.00,1564.75,84.00,1211.75
"Jan 1, 2023 4:00 AM",4353.25,1244.00,3462.25,26438.75,1.50,128.25,2461.00,3841.00,2040.25,1550.50,84.00,1214.25
...,...,...,...,...,...,...,...,...,...,...,...,...
"Oct 31, 2024 7:00 PM",4610.75,1908.75,3522.25,15330.25,0.00,92.00,NaN,10659.75,6776.00,9085.25,1503.75,982.75
"Oct 31, 2024 8:00 PM",4583.25,1587.00,3201.75,16392.00,0.00,92.00,NaN,9817.75,6050.00,8621.50,791.00,967.25
"Oct 31, 2024 9:00 PM",4540.00,1538.50,3220.00,17175.75,0.00,92.00,NaN,9168.00,5242.25,8070.00,397.25,961.50
"Oct 31, 2024 10:00 PM",4480.75,1537.00,3063.25,17140.50,0.00,92.00,NaN,9026.75,4559.75,7418.00,335.25,961.00
"Oct 31, 2024 11:00 PM",4404.25,1495.00,2960.50,17861.75,0.00,92.00,NaN,8592.00,3875.25,6752.25,208.75,942.00

In [12]:
actual_generation.isnull().sum()

Biomass [MWh]                   24
Hydropower [MWh]                24
Wind offshore [MWh]              0
Wind onshore [MWh]               0
Photovoltaics [MWh]              0
Other renewable [MWh]           49
Nuclear [MWh]                 6612
Lignite [MWh]                   24
Hard coal [MWh]                 24
Fossil gas [MWh]                24
Hydro pumped storage [MWh]      24
Other conventional [MWh]        24
dtype: int64

In [11]:
# Step 1: Basic Summary Statistics
summary_stats = actual_generation.describe()
summary_stats

,Biomass [MWh],Hydropower [MWh],Wind offshore [MWh],Wind onshore [MWh],Photovoltaics [MWh],Other renewable [MWh],Nuclear [MWh],Lignite [MWh],Hard coal [MWh],Fossil gas [MWh],Hydro pumped storage [MWh],Other conventional [MWh]
count,16056.000000,16056.000000,16080.000000,16080.000000,16080.000000,16031.000000,9468.000000,16056.000000,16056.000000,16056.000000,16056.000000,16056.000000
mean,4238.142626,1868.211821,2765.676461,12863.233769,7246.819123,119.422307,711.949646,8364.677597,3746.989614,5596.311939,1235.187578,1298.440684
std,316.853422,395.228592,1850.871784,10030.915112,10738.252321,30.920991,1193.876034,3567.587580,2926.451210,2733.172380,1567.369790,159.085448
min,3357.000000,1019.000000,0.000000,145.500000,0.000000,69.000000,0.000000,2493.750000,309.250000,1513.750000,0.000000,806.500000
25%,4022.250000,1606.437500,1105.375000,4896.375000,2.250000,96.000000,0.000000,5217.875000,1727.000000,3384.437500,140.500000,1193.500000
50%,4214.750000,1880.250000,2558.125000,10125.000000,371.875000,107.000000,0.000000,8143.500000,2772.875000,5080.750000,482.875000,1322.250000
75%,4434.500000,2125.000000,4263.312500,18596.250000,12177.312500,141.000000,2111.562500,10984.312500,4855.312500,7205.250000,1806.812500,1398.000000
max,5167.000000,3113.250000,7633.250000,48023.000000,46848.250000,203.750000,3082.250000,17173.250000,15240.500000,16538.500000,8583.750000,2042.500000

**To be Checked**

* Check outliers => Wind onshore, Photovoltaics, Hard coal
* Wind offshore, Photovoltaics, Nuclear and Hydro pumped storage have zero values as minimum
* In opposite, Biomass, Hydropower, Lignite and Fossil gas are sources of continuous base-level power.
* Evaluate base load vs peak load patterns